{
    "version": 1.0,
    "project": "GitHub-WebGoat.NET-${branch}",
    "team": "/CxServer/OWASP/Dotnet/WebGoat.NET/GitHub",
    "sast": {
      "incremental": "false",
      "forceScan" : "true"
    },
    "additionalProperties" : {
      "cxflow": {
        "branches": [ "master" ]
      }
    }
  }
